# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
ai-engine/venv/

# OS files
.DS_Store

# Large AI models
ultralytics/

ai-engine/venv/
ai-engine/yolov8n.pt
gun-detection/
Weapon-Detection-using-Artificial-Intelligence/
